* {
    font-family: 'Lato', sans-serif;
    color: white;
}

body {
    overflow-x: hidden;
}

.container {
    width: 95%;
    padding-bottom: 30px;
}
/* ASIDE TAG GENERICI*/
aside {
    width: 200px;
    height: calc(100% - 100px);
    background-color: #00101a;
    position: fixed;
    top: 0;
    left: 0;
}

.flex-aside {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

aside p {
    font-weight: 300;
}

.aside-top i {
    color: lightgrey;
    margin-right: 10px;
}

.aside-top p {
    font-size: 14px;
    display: inline;
}
/* LOGO E NAVBAR */
#aside-logo {
    width: 150px;
    margin-top: 20px;
}

nav li {
    margin: 20px 0;
}

nav i {
    font-size: 20px;
}

nav li:hover i {
    color: #f3ad2e;
}

nav li:hover p {
    font-weight: 400;
}

/* PLAYLIST */
.playlist {
    border-top: 1px solid #f3ad2e;
}

aside h4 {
    font-size: 18px;
    letter-spacing: 1px;
    margin: 20px 0;
}

.new-playlist i {
    font-size: 30px;
    color: #f3ad2e;
    transition-duration: 0.5s;
}

.new-playlist p {
    font-size: 16px;
    font-weight: 400;
    position: relative;
    bottom: 5px;
}

.new-playlist:active .fa-plus-square {
    transform: scale(0.6);
}

.playlist li {
    margin: 5px 0;
}

.fa-headphones {
    font-size: 11px;
    transition-duration: 0.5s;
}

.playlist li:hover .fa-headphones {
    transform: scale(2);
}

.playlist p:hover {
    font-weight: 400;
}
/* INSTALL */
.install {
    justify-content: center;
    padding: 5px 0;
}

.install p {
    font-size: 11px;
    display: inline;
}

.install i {
    font-size: 12px;
    margin-right: 5px;
    position: relative;
}

.install a:hover i{
    animation: jump 0.5s linear infinite;
}

@keyframes jump {
    0% {bottom: 0;}
    85% {bottom: 4px;}
    100% {bottom: 0;}
}
/* CREATOR */
.creator {
    width: 150px;
    border-top: 1px solid #f3ad2e;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.creator p {
    font-weight: 400;
    letter-spacing: 1px;
}

#profile {
    width: 25px;
    margin-right: 10px;
}
/* HEADER TAG GENERICI */
header {
    width: calc(100% - 200px);
    height: 80px;
    background-color: #000f18;
    position: fixed;
    top: 0;
    left: 200px;
    opacity: 0.9;
    z-index: 1;
}

.flex-header {
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}
/* ARROW */
.arrow {
    margin-left: 30px;
}

.arrow i {
    color: lightgrey;
    font-size: 20px;
    margin-right: 10px;
    position: relative;
}

.fa-arrow-alt-circle-left:active {
    right: 2px;
}

.fa-arrow-alt-circle-right:active {
    left: 2px;
}
/* SIGN */
.sign button {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 3px;
    padding: 8px 40px;
    border-radius: 100px;
    border: 3px solid #000f18;
    transition-duration: 0.2s;
}

.btn-sign-up {
    background-color: #000f18;
    margin-right: 2px;
}

.btn-sign-up:hover {
    cursor: pointer;
    color: #f3ad2e;
    transform: scale(1.1);
}

.btn-sign-in {
    color: #000f18;
    margin-right: 100px;
}

.btn-sign-in:hover {
    cursor: pointer;
    border: 3px solid #f3ad2e;
    transform: scale(1.1);
}
/* MAIN TAG GENERICI */
main {
    width: calc(100% - 200px);
    background-image: linear-gradient(90deg,#111111,#0a0a0a);
    margin-left: 200px;
    margin-bottom: 100px;
}

main h2 {
    letter-spacing: 1px;
    margin-top: 30px;
}

main h3 {
    font-size: 12px;
    font-weight: 300;
    color: grey;
    margin-top: 10px;
}

main h4 {
    font-size: 14px;
    margin: 10px 10px 5px;
}

main p {
    color: grey;
    font-weight: 300;
    font-size: 12px;
    margin: 0 10px 10px;
}
/* NAVBAR MAIN */
.navbar-main {
    padding-top: 90px;
}

.navbar-main ul {
    display: flex;
    justify-content: center;
}

.navbar-main a {
    color: lightgrey;
}

.navbar-main li {
    margin: 0 20px;
    padding: 10px;
    letter-spacing: 1px;
    border-bottom: 2px solid #111111;
    transition-duration: 0.2s;
}

.navbar-main li:hover {
    border-bottom: 2px solid #f3ad2e;
}
/* CARD */
.wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.card {
    width: 150px;
    margin: 10px 10px;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    transition-duration: 0.3s;
}

#card-recent {
    background-color: #000f18;
}

.card:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.img-hover {
    position: relative;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    transition-duration: 0.5s;
    background-color: #f3ad2e;
    opacity: 0;
}

.card i {
    font-size: 60px;
    color: lightgrey;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    transition-duration: 0.2s;
}

.card img {
    max-width: 100%;
    display: block;
}

.card:hover .overlay {
    opacity: 0.1;
}

.card:hover i {
    cursor: pointer;
    opacity: 1;
}

.card i:active {
    color: #fff;
}
/* WRP MIX */
#card-mix img {
    border-radius: 10px;
}

#card-mix .overlay {
    border-radius: 10px;
}
/* WRP ARTIST */
#card-artist {
    width: 120px;
}

#card-artist img {
    border-radius: 50%;
}

#card-artist i {
    font-size: 25px;
}

#card-artist h4 {
    letter-spacing: 1px;
    margin-top: 20px;
}
/* FOOTER TAG GENERICI */
footer {
    width: 100%;
    height: 100px;
    background-color: #000f18;
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 1px solid gray;
}

.flex-footer {
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}
/* REL MAIN */
.rel-main{
    height: 800px;
    overflow: hidden;
    align-self: flex-start;
}

.rel-navigation {
    height: 800px;
    display: flex;
}

input[name="r"] {
    position: absolute;
    visibility: hidden;
}
/* REL CONT */
.rel-cont {
    display: flex;
    align-items: center;
}

.rel-img img {
    width: 60px;
    height: 60px;
    margin: 20px 20px 16px 60px;
    border-radius: 5px;
}
.rel-text h4 {
    font-size: 14px;
    padding-bottom: 2px;
}

.rel-text p {
    font-size: 12px;
    font-weight: 300;
}

.rel-like {
    margin-left: 30px;
}

.rel-like i,
.play-settings i {
    font-size: 12px;
    color: grey;
    margin-left: 10px;
    transition-duration: 0.2s;
}

.fa-heart:active {
    color: darkred;
}

.fa-folder-plus:hover {
    color: #fff;
}
/* SPOSTAMENTO MARGINI CON CHECKED */
#r1:checked ~ .rel-slide{
    margin-top: 0;
}

#r2:checked ~ .rel-slide{
    margin-top: -100px;
}

#r3:checked ~ .rel-slide{
    margin-top: -200px;
}

#r4:checked ~ .rel-slide{
    margin-top: -300px;
}

#r5:checked ~ .rel-slide{
    margin-top: -400px;
}

#r6:checked ~ .rel-slide{
    margin-top: -500px;
}

#r7:checked ~ .rel-slide{
    margin-top: -600px;
}

#r8:checked ~ .rel-slide{
    margin-top: -700px;
}
/* PLAYER */
.player {
    display: flex;
    flex-direction: column;
}

.player-top {
    display: flex;
    justify-content: center;
}

.player-top i {
    margin: 0 15px 10px;
    color: lightgrey;
    transition-duration: 0.2s;
}

.player-top i:hover,
.play-settings i:hover {
    cursor: pointer;
    color: #ffffff;
}

.player-top i:active,
.play-settings i:active,
.rel-like i:active {
    transform: scale(1.2);
}

.player-bottom span {
    color: lightgrey;
    font-size: 10px;
}

.player-line {
    width: 300px;
    border: 2px solid grey;
    border-radius: 5px;
    display: inline-block;
    margin: 0 20px;
}

.player-line:hover,
.settings-line:hover,
.rel-like i:hover {
    cursor: pointer;
}
/* PLAY SETTINGS */
.play-settings {
    display: flex;
    align-items: center;
}

.play-settings i {
    margin-right: 10px;
}
/* BARRA VOLUME */
.slidecontainer {
  width: 100%;
  position: relative;
  bottom: 5px;
  margin-right: 20px;
}

.slider {
  width: 100%;
  height: 3px;
  background: grey;
  border-radius: 5px;
}

.slider:hover {
    background-color: lightgrey;
}

.slider::-moz-range-thumb {
  width: 10px;
  height: 10px;
  background: #f3ad2e;
  cursor: pointer;
  border-radius: 50%;
}
